.chat-main__message
  .chat-main__message-name
    =message.user.name
  .chat-main__message-time
    = message.created_at
  .chat-main__message-body
    -if message.content.present?
      =message.content
    = image_tag message.image.url if message.image.present?
