.chat-side
  .chat-side__user
    .chat-side__user-content
      .chat-side__user-content--name
        okada
      .chat-side__user-content--new-group
        = link_to   do
          %i.fa.fa-edit
      .chat-side__user-content--edit-user
        = link_to   do
          %i.fa.fa-cog
  .chat-side__groups
    .chat-side__group-list
      .chat-side__group
        .chat-side__group-name
          sample 
        .chat-side__group-message
          sample sample
