.side-bar {
  float: left;
  width: 300px;
  height: 100vh;
  &__user {
    height: 15%;
    min-height: 100px;
    background-color: #253141;
    position: relative;
    &-content {
      height: 50px;
      width: 100%;
      line-height: 50px;
      margin: auto 0;
      position: absolute;
      top: 0;
      bottom: 0;
      color: $bg-font-color;
      @include clearfix();
      &--name {
        font-size: 16px;
        font-weight: bold;
        margin: 0 20px;
        display: inline-block;
        position: relative;
        float: left;
      }
      &--new-group {
        margin: 0 5px 0 0;
        float: right;
        i {
          color:$bg-font-color;
        }
      }
      &--edit-user {
        margin: 0 5px 0 0;
        float: right;
        i {
          color:$bg-font-color;
        }
      }
    }
  }
  &__groups {
    height: 85%;
    background-color: #2f3e51;
    clear: both;
    .side-bar__group-list {
        height: 100%;
        color: #FFFFFF;
      .side-bar__group {
        text-decoration: none;
        padding: 20px;
        margin-bottom: 20px;
        .side-bar__group-name {
          color: #FFFFFF;
          font-size: 15px;
        }
        .side-bar__group-message {
          color: #FFFFFF;
          font-size: 11px;
        }
      }
    }
  }
}
