.chat-main {
  height: 100vh;
  width: calc(100% - 300px);
  float: right;
  &__header {
    height: calc( 15% - 2px);
    min-height: 98px;
    border: 1px solid #eee;
    &--group {
    @include clearfix();
      margin: 0 40px;
      &-name {
        color: #333;
        font-size: 16px;
        margin: 35px 0 15px;
        float: left;
      }
      &-edit-btn {
        a {
        font-size: 15px;
        padding: 12.5px 20px;
        margin: 28px 20px 0;
        float: right;
        border: 1px solid #38AEF0;
        text-decoration: none;
        color: black;
        }
      }
    }
    &--members {
      color: #999;
      font-size: 12px;
      margin: 0 40px;
      i{
        font-style: italic;
      }
    }
  }
  &__body {
    height: calc( 100vh - 15% - 90px);
    overflow-y: scroll;
    &--messages-list {
      padding: 46px 40px 0 40px;
      .chat-main__message {
        @include clearfix();
        padding: 20px 0;
        &-name {
          font-size: 16px;
          font-weight: bold;
          color: $text-color;
          float: left;
        }
        &-time {
          color: #999;
          font-size: 12px;
          padding: 0 10px 10px;
          float: left;
        }
        &-body {
          color: #434A54;
          clear: both;
        }
      }
    }
  }
  &__footer {
    height: 90px;
    width: 100%;
    background-color: #BBC3C7;
    &-form {
      margin: 0 40px;
      position: relative;
      &-body {
        position: relative;
        .message {
          height: 20px;
          width: calc( 100% - 130px );
          padding: 15px 10px;
          margin: 20px 0;
          border: none;
          color: $text-color;
        }
        .chat-file {
          height: 50px;
          margin: 32px 130px 20px 0;
          position: absolute;
          top: 0;
          right: 0;
          i{
            display: inline-block;
            text-rendering: auto;
            color: black;
          }
          .hidden {
            display: none;
          }
        }
      }
    }
    .form__submit {
      color: $bg-font-color;
      width: 100px;
      height: 50px;
      text-align: center;
      background-color: $bg-color;
      margin: 20px 0;
      position: absolute;
      top: 0;
      right: 0;
      border: none;
    }
  }
}
